<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftChooseImages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F36DE6E1F908B9500C2D06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F36DE821F908B9500C2D06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F36DE8D1F908B9500C2D06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
